<!DOCTYPE html>
<html>
	<head>
	  <title>Beers</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		
		<div id="nav_top">
			<div id="nav_top_in">
				<div id="nav_top_search">
					<%= form_tag beers_path, :method => :get do %>
						<%= text_field_tag :search, params[:search] %>
						<%= image_submit_tag("lupa.png", :name => nil, :width => "15", :class => "lupa") %>
					<% end %>
				</div>
				<div id="nav_top_links">
					<%= link_to "Minhas Cervejas", root_path %> .
					<%= link_to "Lista de Cervejas", :beers %> .
					<%= link_to "Sair", signout_path, id: "sign_out" %>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		
		<div id="content">
			<div id="facebook">
				<div id="facebook_pic">
					<%= image_tag("#{current_user.picture}", :width => "60") %>
				</div>
				<div id="facebook_name">
					<%= current_user.name	%><br />
				</div>
				<div id="count_my_beers">
					<%= pluralize(7, "Cerveja") %>
				</div>
				<div class="clear"></div>
			</div>
			
			<div id="top_armario"></div>
			<div id="show_my_beers">
				<%= yield %>
				<div class="clear"></div>
			</div>

			
		</div>

	</body>
</html>
